<section class="hero">
  <div class="intro">
    <h1>Collect Feedback, Unlock Ideas</h1>
    <p>
      Create and share surveys in minutes – from team events to workplace culture. Collect opinions,
      engage your audience, and turn feedback into action.
    </p>
    <app-new-survey-button />
  </div>
  <div class="visual" aria-hidden="true">
    <img class="check" src="img/visual/check.svg" alt="" />
    <img class="phone" src="img/visual/phone.png" alt="" />
    <img class="bubble" src="img/visual/typing-bubble.svg" alt="" />
    <img class="question" src="img/visual/question-mark.svg" alt="" />
    <img class="star" src="img/visual/star.svg" alt="" />
  </div>
</section>
